aws-cdk-typescript/step-function-sample/sample-step-func.json
{
  "Comment": "Transaction Processor State Machine",
  "StartAt": "ProcessTransaction",
  "States": {
    "ProcessTransaction": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TransactionType",
          "StringEquals": "PURCHASE",
          "Next": "ProcessPurchase"
        },
        {
          "Variable": "$.TransactionType",
          "StringEquals": "REFUND",
          "Next": "ProcessRefund"
        }
      ]
    },
    "ProcessPurchase": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:295273672130:function:ProcessPurchase",
      "End": true
    },
    "ProcessRefund": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:295273672130:function:ProcessRefund",
      "End": true
    }
  }
}
